name: Molecule Test
on: [push]
jobs:
  molecule:
    runs-on:
      # - ubuntu-18.04
      - ubuntu-20.04
      # - ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        scenario:
          - default

    env:
      COLLECTION_PATH: /home/runner/.ansible/collections/ansible_collections
      COLLECTION_NAMESPACE: ctorgalson
      COLLECTION_NAME: remote_dev
      INPUT_MOLECULE_WORKING_DIR: /home/runner/.ansible/collections/ansible_collections/ctorgalson/remote_dev

    steps:
      - name: Checkout project repo.
        uses: actions/checkout@v2

      - name: Checkout submodules.
        uses: textbook/git-checkout-submodule-action@master

      - name: Reorganize file system in preparation for test-running.
        run: |
          mkdir -p "$COLLECTION_PATH/$COLLECTION_NAMESPACE/$COLLECTION_NAME"
          cp -r ./ "$COLLECTION_PATH/$COLLECTION_NAMESPACE/$COLLECTION_NAME"

      - name: Debug the environment.
        run: |
          which bash && pwd && ls -hal && whoami && ls -halR ~/.ansible/collections

      - name: Molecule
        uses: gofrolist/molecule-action@v2
        with:
          molecule_working_dir: .
          # molecule_options: --debug
          molecule_command: test
          molecule_args: --scenario-name ${{ matrix.scenario }}
